@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$primary-color: #26a6fe;
$secondary-color: #fea613;
$primary-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
}

.auth-container {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .auth-inner {
        height: 550px;
        width: 300px;
        border-radius: 3px;
        background-color: white;
        box-shadow: $primary-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        position: relative;

        .loading-icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
        }


        img {
            width: 140px;
            height: 140px;
        }
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 150px;
            gap: 10px;
            width: 70%;
            margin-bottom: 40px;

            .input-container {
                display: flex;
                flex-direction: column;
                width: 100%;

                p {
                    font-size: 14px;
                }

                input {
                    width: 100%;
                    border: solid rgb(182, 182, 182) 1px;
                    padding: 5px;
                    border-radius: 2px;
                }

                input:focus {
                    outline: none;
                    border: solid $primary-color 1px;
                    border-radius: 2px;
                }
            }

            button {
                margin-top: 20px;
                border: none;
                width: 100%;
                padding: 10px;
                background-color: $secondary-color;
                position: absolute;
                bottom: 60px;
            }

            button:enabled:hover {
                cursor: pointer;
                color: white;
            }

            button:disabled {
                opacity: 50%;
                color: black;
            }
        }
        
        .toggle-auth-type {
            font-size: 12px;
            position: absolute;
            bottom: 22px;
            border: none;
            background-color: transparent;
        }

        .toggle-auth-type:hover {
            cursor: pointer;
        }
    }

}

.toast {
    position: absolute;
    bottom: 10px;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}