$primary-color: #26a6fe;
$hover-color: #9ba6ad;
$secondary-color: #fea613;
$primary-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$gray-border: solid rgb(146, 146, 146) 1px;
$simple-border: solid rgb(209, 209, 209) 1px;
$light-blue-border: solid #26a6fe 1px;
$light-gray: rgb(146, 146, 146);

.desktop {
    width: 100vw;
    height: 100vh;
    display: flex;

    .navigation {
        background-color: $primary-color;
        display: flex;

        .layout-open {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 160px;
            padding: 15px 0;

            .user {
                font-size: 13px;
                width: 100%;
            }

            .menu {
                width: 100%;
            }

            button {
                display: flex;
                width: 100%;
                padding: 5px 0;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: none;
                color: white;

                svg {
                    height: 20px;
                    width: 20px;
                    path {
                        stroke: white;
                    }
                }
            }

            button:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.219);
                text-decoration: underline;
            }
        }

        .layout-closed {
            width: 40px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            padding: 15px 0;

            .user {
                width: 100%;
            }

            .menu {
                width: 100%;
            }

            button {
                border: none;
                color: white;
                background-color: transparent;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 0;

                svg {
                    width: 20px;
                    height: 20px;

                    path {
                        stroke: white;
                    }
                }
            }

            button:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.219);
            }
        }
    }

    .tables-container {
        display: flex;
        flex: 1;

        .tables {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            max-height: 100%;
            overflow: auto;
            align-content: flex-start;
            padding: 15px;
            gap: 10px;
            position: relative;
            .table {
                width: 200px;
                border: $simple-border;
                border-radius: 3px;
                height: min-content;
    
                &__header {
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;

                    button {
                        border: none;
                        background-color: transparent;
                        padding: 5px 5px 0 0;

                        svg {
                            color: gray;
                        }
                    }

                    button:hover {
                        cursor: pointer;

                        svg {
                            color: black;
                        }
                    }
                }
    
                &__seat-container {
                    display: flex;
                    padding: 5px;
                    flex-direction: column;
                    gap: 3px;
    
                    .seat {
                        &__empty-seat {
                            width: 100%;
                            font-size: 13px;
                            border: solid rgb(204, 204, 204) 1px;
                            background-color: transparent;
                            border-radius: 3px;
                            height: 26px;
                            opacity: 60%;
                        }

                        &__empty-seat:hover {
                            cursor: pointer;
                            text-decoration: underline;
                            opacity: 100%;
                        }
    
                        &__seated-player {
                            display: flex;
                            justify-content: space-between;
                            border: solid rgb(204, 204, 204) 1px;
                            height: 26px;
                            align-items: center;
                            border-radius: 3px;

                            p {
                                padding-left: 4px;
                                font-size: 14px;
                                flex: 1;
                                height: 100%;
                                border-radius: 2px 0 0 2px;
                                display: flex;
                                align-items: center;
                            }

                            button {
                                border: none;
                                background-color: transparent;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                width: 24px;
                                border-radius: 0 2px 2px 0;
                                svg {
                                    width: 18px;
                                    height: 18px;
                                    color: rgb(177, 177, 177);
                                }
                            }

                            button:hover {
                                background-color: rgba(0, 0, 0, 0.356);
                                cursor: pointer;

                                svg {
                                    color: rgba(255, 255, 255, 0.801);
                                }
                            }
                        }

                        &__seated-player:hover {
                            cursor: pointer;
                            text-decoration: underline;

                        }
    
                        .search-modal-container {
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(0, 0, 0, 0.11);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 3;

                            // TODO: Change the size of results based upon screen size.
    
                            &__modal {
                                border-radius: 4px;
                                background-color: white;
                                box-shadow: $primary-shadow;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                gap: 5px;
                                width: 340px;
                                height: fit-content;
    
                                &__results {
                                    display: flex;
                                    flex-direction: column;
                                    padding-top: 10px;
                                    flex: 1;
                                    justify-content: flex-end;
                                    
                                    &__result {
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 3px 15px;
                                        gap: 5px;
                                        
                                        &__name {
                                            flex: 1;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                            overflow: hidden;
                                        }

                                        &__type {
                                            width: fit-content;
                                            max-width: 100px;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                            overflow: hidden;
                                        }

                                        &__add-player {
                                            width: 100%;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                            overflow: hidden;
                                        }
                                    }

                                    &__loading {
                                        padding: 3px 15px;
                                        text-align: center;
                                    }

                                    &__adding-player {
                                        text-align: center;
                                    }
                                    
                                    &__result:hover {
                                        cursor: pointer;
                                        background-color: rgb(241, 241, 241);
                                    }
                                }
    
                                &__controls {
                                    padding: 0 15px 15px 15px;
                                    display: flex;

                                    &__input {
                                        border: 1px solid rgb(209, 209, 209);
                                        border-radius: 4px;
                                        display: flex;
                                        width: 100%;

                                        input {
                                            flex: 1;
                                            border-radius: 4px;
                                            height: 25px;
                                            padding-left: 5px;
                                        }

                                        input:focus {
                                            outline: none;
                                        }

                                        button {
                                            width: 20%;
                                            border-radius: 0 3px 3px 0;
                                            background-color: $primary-color;
                                            color: white;
                                        }

                                        button:disabled {
                                            opacity: 40%;
                                        }


                                    }

                                    &__input * {
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            &__add-table {
                background-color: transparent;
                border: $simple-border;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                font-size: 12px;
                padding: 0 15px;
                color: rgb(56, 56, 56);
                height: 291px;
    
                svg {
                    height: 20px;
                    width: 20px;
                }
            }
    
            &__add-table:hover {
                cursor: pointer;
                text-decoration: underline;
                border: solid $primary-color 1px;
                color: $primary-color;
            }
        }

        .notes {
            min-width: 350px;
            width: 20%;
            border-left: $simple-border;
            overflow: auto;
            display: flex;
            flex-direction: column;
    
            &__header {
                display: flex;
                justify-content: space-between;
                background-color: rgb(241, 241, 241);
                flex-direction: column;
                padding: 14px 14px 0 14px;
                gap: 4px;

                &__break-line {
                    height: 2px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.192);
                }

                &__content {
                    display: flex;
                    justify-content: space-between;
                    gap: 8px;

                    &__name {
                        flex: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        align-self: center;
                    }

                    &__type {
                        display: flex;
                        gap: 3px;
                        padding-left: 3px;

                        .type-icon {
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-start;
                            width: fit-content;
                            max-width: 75px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 12px;

                            svg {
                                height: 22px;
                                width: 22px;
                            }
                        }

                        &__edit {
                            background-color: transparent;
                            border: none;
                            border-radius: 3px;
                            padding: 3px;
                            display: flex;
                            justify-content: center;

                            svg {
                                height: 16px;
                                width: 16px;
                            }
                        }

                    }
                    &__type:hover {
                        background-color: rgba(0, 0, 0, 0.164);
                        cursor: pointer;
                    }
                }

                &__player-edit-menu {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding-top: 3px;

                    &__quick-buttons {
                        display: flex;
                        gap: 2px;
                        justify-content: center;
                        button {
                            border: none;
                            background-color: rgba(0, 0, 0, 0.473);
                            padding: 4px;
                            color: white;
                            border-radius: 3px;
                            padding: 5px;
                            font-size: 11px;
                            width: 40px;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        button:hover {
                            cursor: pointer;
                            background-color: rgba(0, 0, 0, 0.788);
                            text-decoration: underline;
                        }
                    }

                    
                    &__custom-type-input {
                        display: flex;

                        input {
                            flex: 1;
                            height: 25px;
                            padding: 0 5px;
                            border-radius: 3px 0 0 3px;
                            background-color: rgba(255, 255, 255, 0.616);
                        }

                        input:focus {
                            outline: none;
                        }

                        button {
                            border: none;
                            background-color: rgba(0, 0, 0, 0.562);
                            color: white;
                            border-radius: 0 3px 3px 0;
                            padding: 0 5px;
                        }

                        button:hover {
                            cursor: pointer;
                            opacity: 90%;
                            text-decoration: underline;
                        }
                    }

                }
            }

            &__body {
                flex: 1;
                display: flex;
                flex-direction: column;
                height: 100%;


                &__list {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    &__header {
                        padding: 5px 15px;
                        background-color: rgb(241, 241, 241);
                    }

                    &__content {
                        display: flex;
                        gap: 6px;
                        flex-direction: column;
                        overflow: auto;

                        &__item {
                            padding: 0 15px;
                            word-wrap: break-word;
                        }
                    }

                }

                .notes-list {
                    flex: 2 1 auto;
                    overflow-y: auto;
                    height: 0px;
                }

                .tendencies-list {
                    flex: 1 1 auto;
                    overflow-y: auto;
                    height: 0px;
                }
            }
    
            &__add-note {
                padding: 15px;
                display: flex;
                gap: 8px;
                flex-direction: column;
    
                &__type-toggle {
                    display: flex;
                    button {
                        flex: 1;
                        border: none;
                        background-color: none;
                        padding: 5px;
                    }
    
                    button:first-child {
                        border-radius: 2px 0 0 2px;
                    }
    
                    button:last-child {
                        border-radius: 0 2px 2px 0;
                    }
    
                    button:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
    
                    .selected {
                        background-color: $primary-color;
                        color: white;
                    }
                }
    
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    input {
                        width: 100%;
                        height: 80px;
                        padding: 15px;
                        resize: none;
                        border: $simple-border;
                    }
        
                    input:focus {
                        outline: none;
                        border: $light-blue-border;
                    }
        
                    .notes__add-note__add-button {
                        background-color: $primary-color;
                        border: none;
                        padding: 8px;
                        border-radius: 4px;
                        color: white;
                    }
        
                    .notes__add-note__add-button:disabled {
                        opacity: 70%;
                    }
        
                    .notes__add-note__add-button:enabled:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
    
            }
        }
    }


    .groups {
        position: relative;
        border-right: $simple-border;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 230px;

        &__list {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            overflow: auto;

            &__item {
                padding: 5px 15px;
            }

            &__item:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.096);
            }

            .selected-group {
                text-decoration: underline;
                font-weight: bold;
            }
        }

        &__new-group-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px;

            form {
                display: flex;
                flex-direction: column;
                gap: 5px;
                input {
                    border: $gray-border;
                    padding: 5px;
                    border-radius: 3px;
                }

                input:focus {
                    outline: none;
                    border: $light-blue-border;
                }

                button {
                    border: none;
                    padding: 3px;
                }

                button:disabled {
                    opacity: 90%;
                }

                button:hover:enabled {
                    cursor: pointer;
                    background-color: $primary-color;
                    color: white;
                    text-decoration: underline;
                }
            }

            &__error {
                font-size: 11px;
                max-width: 200px;
            }
        }

        &__loading-icon {
            position: absolute;
            top: 0;
            right: 0;
            height: 35px;
            width: 35px;
        }
    }

}
