.desktop {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.desktop .navigation {
  background-color: #26a6fe;
  display: flex;
}
.desktop .navigation .layout-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  padding: 15px 0;
}
.desktop .navigation .layout-open .user {
  font-size: 13px;
  width: 100%;
}
.desktop .navigation .layout-open .menu {
  width: 100%;
}
.desktop .navigation .layout-open button {
  display: flex;
  width: 100%;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: white;
}
.desktop .navigation .layout-open button svg {
  height: 20px;
  width: 20px;
}
.desktop .navigation .layout-open button svg path {
  stroke: white;
}
.desktop .navigation .layout-open button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.219);
  text-decoration: underline;
}
.desktop .navigation .layout-closed {
  width: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}
.desktop .navigation .layout-closed .user {
  width: 100%;
}
.desktop .navigation .layout-closed .menu {
  width: 100%;
}
.desktop .navigation .layout-closed button {
  border: none;
  color: white;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.desktop .navigation .layout-closed button svg {
  width: 20px;
  height: 20px;
}
.desktop .navigation .layout-closed button svg path {
  stroke: white;
}
.desktop .navigation .layout-closed button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.219);
}
.desktop .tables-container {
  display: flex;
  flex: 1;
}
.desktop .tables-container .tables {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  overflow: auto;
  align-content: flex-start;
  padding: 15px;
  gap: 10px;
  position: relative;
  background-color: rgba(248, 248, 248, 0.671);
}
.desktop .tables-container .tables .table {
  width: 200px;
  border: solid rgb(209, 209, 209) 1px;
  border-radius: 3px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: white;
}
.desktop .tables-container .tables .table__header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.desktop .tables-container .tables .table__header button {
  border: none;
  background-color: transparent;
  padding: 5px 5px 0 0;
}
.desktop .tables-container .tables .table__header button svg {
  color: gray;
}
.desktop .tables-container .tables .table__header button:hover {
  cursor: pointer;
}
.desktop .tables-container .tables .table__header button:hover svg {
  color: black;
}
.desktop .tables-container .tables .table__seat-container {
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 3px;
}
.desktop .tables-container .tables .table__seat-container .seat__empty-seat {
  width: 100%;
  font-size: 13px;
  border: solid rgb(204, 204, 204) 1px;
  background-color: transparent;
  border-radius: 3px;
  height: 26px;
  opacity: 60%;
}
.desktop .tables-container .tables .table__seat-container .seat__empty-seat:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 100%;
}
.desktop .tables-container .tables .table__seat-container .seat__seated-player {
  display: flex;
  justify-content: space-between;
  border: solid rgb(204, 204, 204) 1px;
  height: 26px;
  align-items: center;
  border-radius: 3px;
  background-color: white;
}
.desktop .tables-container .tables .table__seat-container .seat__seated-player p {
  padding-left: 4px;
  font-size: 14px;
  flex: 1;
  height: 100%;
  border-radius: 2px 0 0 2px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
.desktop .tables-container .tables .table__seat-container .seat__seated-player button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 24px;
  border-radius: 0 2px 2px 0;
}
.desktop .tables-container .tables .table__seat-container .seat__seated-player button svg {
  width: 18px;
  height: 18px;
  color: rgb(177, 177, 177);
}
.desktop .tables-container .tables .table__seat-container .seat__seated-player button:hover {
  background-color: rgba(0, 0, 0, 0.356);
  cursor: pointer;
}
.desktop .tables-container .tables .table__seat-container .seat__seated-player button:hover svg {
  color: rgba(255, 255, 255, 0.801);
}
.desktop .tables-container .tables .table__seat-container .seat__seated-player:hover {
  cursor: pointer;
  text-decoration: underline;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.11);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal {
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 340px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__results {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  flex: 1;
  justify-content: flex-end;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__results__result {
  display: flex;
  justify-content: space-between;
  padding: 3px 15px;
  gap: 5px;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__results__result__name {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__results__result__type {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__results__result__add-player {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__results__loading {
  display: flex;
  justify-content: center;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__results__loading img {
  width: 25px;
  height: 25px;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__results__adding-player {
  text-align: center;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__results__result:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__controls {
  padding: 0 15px 15px 15px;
  display: flex;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__controls__input {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px;
  display: flex;
  width: 100%;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__controls__input input {
  flex: 1;
  border-radius: 4px;
  height: 25px;
  padding-left: 5px;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__controls__input input:focus {
  outline: none;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__controls__input button {
  width: 20%;
  border-radius: 0 3px 3px 0;
  background-color: #26a6fe;
  color: white;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__controls__input button img {
  height: 20px;
  width: 20px;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__controls__input button:disabled {
  opacity: 40%;
}
.desktop .tables-container .tables .table__seat-container .seat .search-modal-container__modal__controls__input * {
  border: none;
}
.desktop .tables-container .tables .table:focus-within {
  border: solid #26a6fe 1px;
}
.desktop .tables-container .tables .table:hover {
  border: solid #26a6fe 1px;
}
.desktop .tables-container .tables__add-table {
  background-color: transparent;
  border: solid rgb(209, 209, 209) 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding: 0 15px;
  color: rgb(56, 56, 56);
  height: 291px;
  background-color: white;
}
.desktop .tables-container .tables__add-table svg {
  height: 20px;
  width: 20px;
}
.desktop .tables-container .tables__add-table:hover {
  cursor: pointer;
  text-decoration: underline;
  border: solid #26a6fe 1px;
  color: #26a6fe;
  background-color: white;
}
.desktop .tables-container .tables__group-info {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #26a6fe;
  color: white;
  border-radius: 25px 0 0 0;
  padding: 15px;
}
.desktop .tables-container .tables__group-info p {
  margin-top: 2px;
  padding-left: 10px;
  text-transform: capitalize;
}
.desktop .tables-container .notes {
  min-width: 350px;
  width: 20%;
  border-left: solid rgb(209, 209, 209) 1px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.desktop .tables-container .notes__header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  flex-direction: column;
  padding: 14px 14px 0 14px;
  gap: 4px;
}
.desktop .tables-container .notes__header__break-line {
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.192);
}
.desktop .tables-container .notes__header__content {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.desktop .tables-container .notes__header__content__name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: center;
}
.desktop .tables-container .notes__header__content__type {
  display: flex;
  gap: 3px;
  padding-left: 3px;
}
.desktop .tables-container .notes__header__content__type .type-icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.desktop .tables-container .notes__header__content__type .type-icon svg {
  height: 22px;
  width: 22px;
}
.desktop .tables-container .notes__header__content__type__edit {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 3px;
  display: flex;
  justify-content: center;
}
.desktop .tables-container .notes__header__content__type__edit svg {
  height: 16px;
  width: 16px;
}
.desktop .tables-container .notes__header__content__type:hover {
  background-color: rgba(0, 0, 0, 0.164);
  cursor: pointer;
}
.desktop .tables-container .notes__header__player-edit-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 3px;
}
.desktop .tables-container .notes__header__player-edit-menu__quick-buttons {
  display: flex;
  gap: 2px;
  justify-content: center;
}
.desktop .tables-container .notes__header__player-edit-menu__quick-buttons button {
  border: none;
  background-color: rgba(0, 0, 0, 0.473);
  padding: 4px;
  color: white;
  border-radius: 3px;
  padding: 5px;
  font-size: 11px;
  width: 40px;
}
.desktop .tables-container .notes__header__player-edit-menu__quick-buttons button svg {
  width: 20px;
  height: 20px;
}
.desktop .tables-container .notes__header__player-edit-menu__quick-buttons button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.788);
  text-decoration: underline;
}
.desktop .tables-container .notes__header__player-edit-menu__custom-type-input {
  display: flex;
}
.desktop .tables-container .notes__header__player-edit-menu__custom-type-input input {
  flex: 1;
  height: 25px;
  padding: 0 5px;
  border-radius: 3px 0 0 3px;
  background-color: rgba(255, 255, 255, 0.616);
}
.desktop .tables-container .notes__header__player-edit-menu__custom-type-input input:focus {
  outline: none;
}
.desktop .tables-container .notes__header__player-edit-menu__custom-type-input button {
  border: none;
  background-color: rgba(0, 0, 0, 0.562);
  color: white;
  border-radius: 0 3px 3px 0;
  padding: 0 5px;
}
.desktop .tables-container .notes__header__player-edit-menu__custom-type-input button:hover {
  cursor: pointer;
  opacity: 90%;
  text-decoration: underline;
}
.desktop .tables-container .notes__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.desktop .tables-container .notes__body__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.desktop .tables-container .notes__body__list__header {
  padding: 5px 15px;
  background-color: rgb(241, 241, 241);
  text-transform: capitalize;
}
.desktop .tables-container .notes__body__list__content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.desktop .tables-container .notes__body__list__content__item {
  display: flex;
  flex-direction: column;
  padding: 2px 15px;
}
.desktop .tables-container .notes__body__list__content__item__content {
  word-wrap: break-word;
  font-size: 14px;
}
.desktop .tables-container .notes__body__list__content__item__info {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.desktop .tables-container .notes__body__list__content__item__info__delete:hover {
  text-decoration: underline;
  cursor: pointer;
}
.desktop .tables-container .notes__body__list__content__item:hover {
  background-color: rgb(243, 243, 243);
}
.desktop .tables-container .notes__body .notes-list {
  flex: 2 1 auto;
  overflow-y: auto;
  height: 0px;
}
.desktop .tables-container .notes__body .tendencies-list {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
}
.desktop .tables-container .notes__add-note {
  padding: 15px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.desktop .tables-container .notes__add-note__type-toggle {
  display: flex;
}
.desktop .tables-container .notes__add-note__type-toggle button {
  flex: 1;
  border: none;
  background-color: none;
  padding: 5px;
}
.desktop .tables-container .notes__add-note__type-toggle button:first-child {
  border-radius: 2px 0 0 2px;
}
.desktop .tables-container .notes__add-note__type-toggle button:last-child {
  border-radius: 0 2px 2px 0;
}
.desktop .tables-container .notes__add-note__type-toggle button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.desktop .tables-container .notes__add-note__type-toggle .selected {
  background-color: #26a6fe;
  color: white;
}
.desktop .tables-container .notes__add-note form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.desktop .tables-container .notes__add-note form input {
  width: 100%;
  height: 80px;
  padding: 15px;
  resize: none;
  border: solid rgb(209, 209, 209) 1px;
}
.desktop .tables-container .notes__add-note form input:focus {
  outline: none;
  border: solid #26a6fe 1px;
}
.desktop .tables-container .notes__add-note form .notes__add-note__add-button {
  background-color: #26a6fe;
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: white;
}
.desktop .tables-container .notes__add-note form .notes__add-note__add-button:disabled {
  opacity: 70%;
}
.desktop .tables-container .notes__add-note form .notes__add-note__add-button:enabled:hover {
  cursor: pointer;
  text-decoration: underline;
}
.desktop .tables-container .notes__deleting {
  position: absolute;
  right: 5px;
  top: 5px;
}
.desktop .groups {
  position: relative;
  border-right: solid rgb(209, 209, 209) 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
}
.desktop .groups__header {
  display: flex;
  padding: 15px 15px 12px 15px;
  background-color: #247cb8;
  color: white;
  justify-content: space-between;
}
.desktop .groups__header p {
  font-weight: bold;
}
.desktop .groups__header button {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 3px;
  padding: 4px;
}
.desktop .groups__header button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.178);
  text-decoration: underline;
}
.desktop .groups__loading {
  height: 100%;
  margin-top: 25px;
  align-self: center;
  justify-self: flex-start;
  flex-direction: column;
}
.desktop .groups__loading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop .groups__loading__container img {
  width: 30px;
  height: 40px;
}
.desktop .groups__loading__container p {
  font-size: 12px;
  color: #26a6fe;
}
.desktop .groups__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.desktop .groups__list .group-line-break {
  height: 2px;
  background: #f5f5f5;
}
.desktop .groups__list__item__general {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  align-items: center;
  padding: 7px 10px 7px 15px;
}
.desktop .groups__list__item__general__name {
  flex: 1;
}
.desktop .groups__list__item__general__expand {
  display: flex;
  justify-content: flex-end;
}
.desktop .groups__list__item__general__expand button {
  border: none;
  background-color: transparent;
  display: flex;
  padding: 2px 3px;
  border-radius: 2px;
}
.desktop .groups__list__item__general__expand button svg {
  opacity: 60%;
  height: 18px;
  width: 18px;
}
.desktop .groups__list__item__general__expand:hover button {
  background-color: rgba(0, 0, 0, 0.158);
  cursor: pointer;
}
.desktop .groups__list__item__general__expand:hover button svg {
  opacity: 100%;
}
.desktop .groups__list__item__general__admin {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 2px 15px;
}
.desktop .groups__list__item__general__admin__header {
  text-align: center;
  font-weight: bold;
}
.desktop .groups__list__item__general__admin__players {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.desktop .groups__list__item__general__admin__players__player {
  display: flex;
  justify-content: space-between;
}
.desktop .groups__list__item__general__admin form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.desktop .groups__list__item__general__admin form input {
  border: solid #26a6fe 1px;
  border-radius: 3px;
  padding: 4px 7px;
}
.desktop .groups__list__item__general__admin form button {
  color: white;
  background-color: #26a6fe;
  border: none;
  padding: 3px;
  border-radius: 3px;
}
.desktop .groups__list__item__general__admin form button:enabled:hover {
  cursor: pointer;
  text-decoration: underline;
}
.desktop .groups__list__item__general__admin form button:disabled {
  opacity: 60%;
}
.desktop .groups__list__item__general__admin__details {
  font-size: 11px;
  color: gray;
}
.desktop .groups__list__item__general__non-admin p {
  font-size: 11px;
  color: gray;
}
.desktop .groups__list__item__general:hover {
  cursor: pointer;
  text-decoration: underline;
}
.desktop .groups__no-group {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop .groups__no-group svg {
  fill: #26a6fe;
}
.desktop .groups__no-group__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: rgb(53, 53, 53);
}
.desktop .groups__no-group__body p {
  font-weight: bold;
}
.desktop .groups__no-group__body svg {
  height: 75px;
  width: 75px;
}
.desktop .groups__no-group__cta {
  position: absolute;
  justify-self: center;
  align-self: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.desktop .groups__no-group__cta svg {
  height: 25px;
  width: 25px;
}
.desktop .groups__new-group-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
.desktop .groups__new-group-container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.desktop .groups__new-group-container form input {
  border: solid rgb(146, 146, 146) 1px;
  padding: 5px;
  border-radius: 3px;
}
.desktop .groups__new-group-container form input:focus {
  outline: none;
  border: solid #26a6fe 1px;
}
.desktop .groups__new-group-container form button {
  border: none;
  padding: 3px;
  background-color: #26a6fe;
  color: white;
  border-radius: 3px;
}
.desktop .groups__new-group-container form button:disabled {
  opacity: 40%;
}
.desktop .groups__new-group-container form button:hover:enabled {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}
.desktop .groups__new-group-container__error {
  font-size: 11px;
  max-width: 200px;
}
.desktop .groups__loading-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
}/*# sourceMappingURL=desktop.css.map */