* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100vw;
    background-color: #e7fcfc;
    padding: 10px 40px;
    color: #313131;
}

img {
    width: 75px;
    height: 75px;
}