.touch-container {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;

    &__content {
        flex-grow: 1;
        background-color: rgb(201, 176, 176);

        .groups {
            padding: 20px;
            height: 80%;

            &__list {
                display: flex;
                flex-direction: column;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.171);
                gap: 5px;
                &__group-card {
                    display: flex;
                    background-color: white;
                    flex-direction: column;
                    padding: 10px;

                    &__main {
                        display: flex;
                        justify-content: space-between;
                        &__selected {
                            padding: 3px 10px;
                            color: white;
                            background-color: rgba(54, 121, 54, 0.904);
                            border-radius: 15px;
                        }
                    }

                    &__show-more {

                    }
                }
            }
        }

    }

    &__nav {
        background-color: blue;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}