.touch-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.touch-container__content {
  flex-grow: 1;
}
.touch-container__content .groups {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.touch-container__content .groups__list {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}
.touch-container__content .groups__list__group-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 10px;
}
.touch-container__content .groups__list__group-card__main {
  display: flex;
  justify-content: space-between;
}
.touch-container__content .groups__list__group-card__main__selected {
  padding: 3px 10px;
  color: white;
  background-color: rgba(54, 121, 54, 0.904);
  border-radius: 15px;
}
.touch-container__content .groups__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #012e4d;
  padding: 5px;
}
.touch-container__content .groups__controls button {
  padding: 8px 20px;
  color: white;
  border: solid 1px gray;
  border-radius: 3px;
  background-color: transparent;
}
.touch-container__content .groups__new-group-modal {
  background-color: #012e4d;
  display: flex;
  padding: 5px;
  height: 43px;
  gap: 15px;
  padding: 5px 20px;
}
.touch-container__content .groups__new-group-modal input {
  height: 100%;
  padding: 5px;
  flex: 1;
  border: none;
  border-radius: 3px;
}
.touch-container__content .groups__new-group-modal input:focus {
  outline: none;
}
.touch-container__content .groups__new-group-modal__controls {
  display: flex;
  gap: 20px;
}
.touch-container__content .groups__new-group-modal__controls__cancel {
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: underline;
  opacity: 80%;
}
.touch-container__content .groups__new-group-modal__controls__create {
  padding: 8px 15px;
  color: white;
  border: solid 1px gray;
  border-radius: 3px;
  background-color: transparent;
}
.touch-container__content .players {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.touch-container__content .players__body {
  flex: 1;
  position: relative;
}
.touch-container__content .players__body .player-info {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.touch-container__content .players__body .player-info__header {
  padding: 12px 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #012e4d;
}
.touch-container__content .players__body .player-info__header__group-name {
  font-size: 11px;
  color: rgb(226, 226, 226);
  flex: 1;
}
.touch-container__content .players__body .player-info__header__player-name {
  font-size: 20px;
  flex: 1;
}
.touch-container__content .players__body .player-info__header__options {
  display: flex;
  align-self: center;
  gap: 15px;
}
.touch-container__content .players__body .player-info__header__options p {
  align-self: center;
}
.touch-container__content .players__body .player-info__header__options svg {
  width: 25px;
  height: 25px;
}
.touch-container__content .players__body .player-info__header__edit {
  padding: 5px 20px 20px 20px;
  background-color: #012e4d;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.touch-container__content .players__body .player-info__header__edit__label {
  font-size: 13px;
}
.touch-container__content .players__body .player-info__header__edit__input-container {
  display: flex;
  gap: 8px;
}
.touch-container__content .players__body .player-info__header__edit__input-container input {
  flex: 1;
  padding: 5px;
  border-radius: 3px;
  border: transparent;
}
.touch-container__content .players__body .player-info__header__edit__input-container button {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: #012e4d;
  color: white;
  border: solid 1px gray;
  border-radius: 3px;
}
.touch-container__content .players__body .player-info__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 10px;
}
.touch-container__content .players__body .player-info__content__list {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}
.touch-container__content .players__body .player-info__content__list__header {
  font-weight: bold;
  height: 20px;
  font-size: 14px;
}
.touch-container__content .players__body .player-info__content__list__item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  flex: 1 1 1px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 15px;
}
.touch-container__content .players__body .player-info__content .notes {
  flex: 1 1 1px;
}
.touch-container__content .players__body .player-info__content .tendency {
  flex: 0.4 1 1px;
}
.touch-container__content .players__body .touch-modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.touch-container__content .players__body .touch-modal-container .players-list {
  width: 100vw;
  background-color: white;
}
.touch-container__content .players__body .touch-modal-container .players-list__item {
  display: flex;
  padding: 8px 15px;
  border-bottom: solid rgb(230, 230, 230) 1px;
}
.touch-container__content .players__body .touch-modal-container .players-list__player {
  justify-content: space-between;
}
.touch-container__content .players__body .touch-modal-container .players-list__player:active {
  color: green;
}
.touch-container__content .players__body .touch-modal-container .players-list__add {
  gap: 15px;
}
.touch-container__content .players__body .touch-modal-container .players-list__add svg {
  width: 20px;
  height: 20px;
}
.touch-container__content .players__body .touch-modal-container .players-list__loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.touch-container__content .players__body .touch-modal-container .players-list__loading svg {
  width: 20px;
  height: 20px;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__body textarea {
  resize: none;
  border: solid rgb(194, 194, 194) 1px;
  border-radius: 3px;
  height: 150px;
  padding: 10px;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__body__buttons {
  display: flex;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__body__buttons button {
  flex: 1;
  height: 30px;
  border: none;
  background-color: #012e4d;
  color: white;
  font-weight: bold;
  justify-content: center;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__body__buttons .not-selected {
  opacity: 30%;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__body__buttons button:first-child {
  border-radius: 4px 0 0 4px;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__body__buttons button:last-child {
  border-radius: 0 4px 4px 0;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__controls {
  background-color: #012e4d;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
  height: 65px;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__controls button {
  color: white;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border: solid gray 1px;
  padding: 5px 15px;
  border-radius: 3px;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__controls button svg {
  width: 25px;
  height: 25px;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__controls button:disabled {
  opacity: 30%;
}
.touch-container__content .players__body .touch-modal-container .add-note-modal__controls button:active {
  background-color: rgb(240, 240, 240);
  border-radius: rgb(240, 240, 240);
  color: #012e4d;
}
.touch-container__content .players__body .no-player-selected {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 15px;
  gap: 10px;
}
.touch-container__content .players__body .no-player-selected svg {
  width: 30px;
  height: 30px;
  color: #012e4d;
}
.touch-container__content .players__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #012e4d;
  gap: 10px;
  padding: 10px 20px 0 20px;
}
.touch-container__content .players__footer input {
  flex: 1;
  max-width: 350px;
  height: 100%;
  border-radius: 5px;
  border: none;
  padding: 0 15px;
  height: 33px;
}
.touch-container__content .players__footer input:focus {
  outline: none;
}
.touch-container__content .players__footer button {
  background-color: transparent;
  border: none;
}
.touch-container__content .players__footer button svg {
  height: 30px;
  width: 30px;
}
.touch-container__content .no-group-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.touch-container__nav {
  background-color: #012e4d;
  height: 65px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.touch-container__nav button {
  background-color: transparent;
  height: 100%;
  border: none;
  color: white;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.touch-container__nav button svg {
  height: 25px;
  width: 25px;
}
.touch-container__nav button p {
  font-size: 0.7rem;
}
.touch-container__nav button:active {
  color: rgb(157, 157, 231);
}
.touch-container .remove-underline {
  text-decoration: none;
}

.standard-button {
  color: rgb(255, 255, 255);
}

.standard-button:disabled {
  color: rgb(88, 88, 88);
}

.standard-button-cancel {
  color: red;
}

.standard-button-accept {
  color: green;
}/*# sourceMappingURL=touch.css.map */