$primary-color: #012e4d;
$secondary-color: rgb(157, 157, 231);

.touch-container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;

    &__content {
        flex-grow: 1;

        .groups {
            padding: 20px;
            height: 80%;

            &__list {
                display: flex;
                flex-direction: column;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.171);
                gap: 5px;
                &__group-card {
                    display: flex;
                    background-color: white;
                    flex-direction: column;
                    padding: 10px;

                    &__main {
                        display: flex;
                        justify-content: space-between;
                        &__selected {
                            padding: 3px 10px;
                            color: white;
                            background-color: rgba(54, 121, 54, 0.904);
                            border-radius: 15px;
                        }
                    }
                }
            }
        }

        .players {
            background-color: white;
            height: 100%;
            display: flex;
            flex-direction: column;

            &__body {
                flex: 1;
                position: relative;
                .player-info {
                    height: 100%;
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    
                    &__header {
                        padding: 12px 20px;
                        font-weight: bold;
                        display: flex;
                        justify-content: space-between;
                        color: white;
                        background-color: $primary-color;

                        &__group-name {
                            font-size: 11px;
                            color: rgb(226, 226, 226);
                            flex: 1;
                        }

                        &__player-name {
                            font-size: 20px;
                            flex: 1;
                        }

                        &__options {
                            display: flex;
                            align-self: center;
                            gap: 15px;

                            p {
                                align-self: center;
                            }

                            svg {
                                width: 25px;
                                height: 25px;
                            }
                        }

                        &__edit {
                            padding: 5px 20px 20px 20px;
                            background-color: $primary-color;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            gap: 3px;
                            &__label {
                                font-size: 13px;
                            }

                            &__input-container {
                                display: flex;
                                gap: 8px;
                                input {
                                    flex: 1;
                                    padding: 5px;
                                    border-radius: 3px;
                                    border: transparent;
                                }

                                button {
                                    padding: 5px 10px;
                                    border: none;
                                    font-weight: bold;
                                    background-color: $primary-color;
                                    color: white;
                                    border: solid 1px gray;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }

                    &__content {
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        overflow: hidden;
                        margin-bottom: 20px;
                        margin-top: 10px;

                        &__list {
                            padding: 5px 20px;
                            display: flex;
                            flex-direction: column;

                            &__header {
                                font-weight: bold;
                                height: 20px;
                                font-size: 14px;
                            }

                            &__item-container {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                overflow: auto;
                                flex: 1 1 1px;
                                background-color: rgb(245, 245, 245);
                                border-radius: 5px;
                                padding: 15px;
                            }
                        }

                        .notes {
                            flex: 1 1 1px;
                        }

                        .tendency {
                            flex: .4 1 1px;
                        }
                    }
                }

                .touch-modal-container {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.185);
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    .players-list {
                        width: 100vw;
                        background-color: white;

                        &__item {
                            display: flex;
                            padding: 8px 15px;
                            border-bottom: solid rgb(230, 230, 230) 1px;
                        }

                        &__player {
                            justify-content: space-between;
                        }

                        &__player:active {
                            color: green;
                        }

                        &__add {
                            gap: 15px;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        &__loading {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    .add-note-modal {
                        background-color: white;
                        width: 100vw;
                        display: flex;
                        flex-direction: column;

                        &__body {
                            padding: 15px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            textarea {
                                resize: none;
                                border: solid rgb(194, 194, 194) 1px;
                                border-radius: 3px;
                                height: 150px;
                                padding: 10px;
                            }
    
                            &__buttons {
                                display: flex;
    
                                button {
                                    flex: 1;
                                    height: 30px;
                                    border: none;
                                    background-color: $primary-color;
                                    color: white;
                                    font-weight: bold;
                                    justify-content: center;
                                }

                                .not-selected {
                                    opacity: 30%;
                                }
    
                                button:first-child {
                                    border-radius: 4px 0 0 4px;
                                }
    
                                button:last-child {
                                    border-radius:  0 4px 4px 0;
                                }
                            }
                        }


                        &__controls {
                            background-color: $primary-color;
                            display: flex;
                            padding: 10px;
                            justify-content: space-between;
                            gap: 10px;
                            height: 65px;
                            
                            button {
                                color: white;
                                background-color: transparent;
                                border: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.1rem;
                                border: solid gray 1px;
                                padding: 5px 15px;
                                border-radius: 3px;

                                svg {
                                    width: 25px;
                                    height: 25px;
                                }
                            }

                            button:disabled {
                                opacity: 30%;
                            }

                            button:active {
                                background-color: rgb(240, 240, 240);
                                border-radius: rgb(240, 240, 240);
                                color: $primary-color;
                            }

                        }

                    }
                }

                .no-player-selected{
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    padding: 15px;
                    gap: 10px;

                    svg {
                        width: 30px;
                        height: 30px;
                        color: $primary-color;
                    }
                }
                
            }

            &__footer {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                gap: 10px;
                padding: 10px 20px 0 20px;


                input {
                    flex: 1;
                    max-width: 350px;
                    height: 100%;
                    border-radius: 5px;
                    border: none;
                    padding: 0 15px;
                    height: 33px;
                }

                input:focus {
                    outline: none;
                }

                button {
                    background-color: transparent;
                    border: none;

                    svg { 
                        height: 30px;
                        width: 30px;
                    }

                }

            }

        }

        .no-group-selected {
            display: flex;       
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    &__nav {
        background-color: $primary-color;
        height: 65px;
        display: flex;
        justify-content: center;
        gap: 5px;

        button {
            background-color: transparent;
            height: 100%;
            border: none;
            color: white;
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
            
            svg {
                height: 25px;
                width: 25px;
            }
            
            p {
                font-size: .7rem;
            }
        }

        button:active {
            color: $secondary-color;
        }
    }

    .remove-underline {
        text-decoration: none;
    }
}

.standard-button {
    color: rgb(255, 255, 255);
}

.standard-button:disabled {
    color: rgb(88, 88, 88);
}

.standard-button-cancel {
    color: red;
}

.standard-button-accept {
    color: green;
}