.touch-container {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}
.touch-container__content {
  flex-grow: 1;
  background-color: rgb(201, 176, 176);
}
.touch-container__content .groups {
  padding: 20px;
  height: 80%;
}
.touch-container__content .groups__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.171);
  gap: 5px;
}
.touch-container__content .groups__list__group-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 10px;
}
.touch-container__content .groups__list__group-card__main {
  display: flex;
  justify-content: space-between;
}
.touch-container__content .groups__list__group-card__main__selected {
  padding: 3px 10px;
  color: white;
  background-color: rgba(54, 121, 54, 0.904);
  border-radius: 15px;
}
.touch-container__content .players {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.touch-container__content .players__header {
  display: flex;
  justify-content: space-between;
}
.touch-container__content .players__body {
  flex: 1;
  position: relative;
}
.touch-container__content .players__body .player-info {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.touch-container__content .players__body .player-info__header {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
}
.touch-container__content .players__body .player-info__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
}
.touch-container__content .players__body .player-info__content__list {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.touch-container__content .players__body .player-info__content__list__header {
  font-weight: bold;
  height: 20px;
  margin-left: 15px;
}
.touch-container__content .players__body .player-info__content__list__item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  flex: 1 1 1px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 15px;
}
.touch-container__content .players__body .player-info__content .notes {
  flex: 1 1 1px;
}
.touch-container__content .players__body .player-info__content .tendency {
  flex: 0.4 1 1px;
}
.touch-container__content .players__body .touch-modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.touch-container__content .players__body .touch-modal-container .players-list {
  max-height: 80%;
  width: 75%;
  max-width: 350px;
  min-width: 250px;
  background-color: white;
}
.touch-container__content .players__body .touch-modal-container .players-list__item {
  display: flex;
  padding: 15px;
}
.touch-container__content .players__body .touch-modal-container .players-list__player {
  justify-content: space-between;
}
.touch-container__content .players__body .touch-modal-container .players-list__player:active {
  color: green;
}
.touch-container__content .players__body .touch-modal-container .players-list__add {
  gap: 15px;
}
.touch-container__content .players__body .touch-modal-container .players-list__add svg {
  width: 20px;
  height: 20px;
}
.touch-container__content .players__body .touch-modal-container .players-list__loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.touch-container__content .players__body .touch-modal-container .players-list__loading svg {
  width: 20px;
  height: 20px;
}
.touch-container__content .players__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  gap: 10px;
  padding: 10px 0 5px 0;
}
.touch-container__content .players__footer input {
  width: 80%;
  max-width: 350px;
  height: 100%;
  border-radius: 5px;
  border: none;
  padding: 0 15px;
}
.touch-container__content .players__footer input:focus {
  outline: none;
}
.touch-container__content .players__footer button {
  background-color: transparent;
  color: white;
  border: none;
}
.touch-container__content .players__footer button svg {
  height: 30px;
  width: 30px;
}
.touch-container__nav {
  background-color: rgb(49, 49, 49);
  height: 65px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.touch-container__nav button {
  background-color: transparent;
  height: 100%;
  border: none;
  color: white;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.touch-container__nav button svg {
  height: 25px;
  width: 25px;
}
.touch-container__nav button p {
  font-size: 0.7rem;
}
.touch-container__nav button:active {
  color: rgb(157, 157, 231);
}
.touch-container .remove-underline {
  text-decoration: none;
}/*# sourceMappingURL=touch.css.map */