@media (max-width: 768px) {
  .body-container-mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .body-container-mobile .body-container {
    flex: 1;
  }
  .body-container-mobile .body-container .players {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .body-container-mobile .body-container .players__content {
    position: relative;
    flex: 1;
  }
  .body-container-mobile .body-container .players__content .header {
    padding: 20px;
  }
  .body-container-mobile .body-container .players__content .search-results-background {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    background-color: rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    padding-bottom: 45px;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    border-radius: 5px;
    background-color: white;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .search-result {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    padding: 0 10px;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .search-result__name {
    width: 100%;
    text-overflow: ellipsis;
    margin-right: 10px;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .search-result__icons {
    display: flex;
    gap: 10px;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .search-result__icons .search-icon {
    height: 25px;
    width: 25px;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .search-result__icons .search-icon svg {
    width: 100%;
    height: 100%;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .search-result__icons .exact-match {
    color: gold;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .search-result:active {
    background-color: rgb(221, 221, 221);
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .add-player-button {
    display: flex;
    gap: 10px;
    padding: 15px;
    border: 0;
    background-color: #002547;
    color: white;
    border-radius: 5px;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .add-player-button svg {
    height: 15px;
    width: 15px;
  }
  .body-container-mobile .body-container .players__content .search-results-background .search-results-container .add-player-button:active {
    background-color: #D7A31A;
  }
  .body-container-mobile .body-container .players__content .loading-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  .body-container-mobile .body-container .players__content .loading-player img {
    width: 75px;
    height: 75px;
  }
  .body-container-mobile .body-container .players__content .loading-player p {
    font-size: 0.8rem;
    color: rgb(13, 13, 80);
  }
  .body-container-mobile .body-container .players__content .player-info {
    height: 100%;
    position: relative;
  }
  .body-container-mobile .body-container .players__content .player-info .list-header {
    font-weight: bold;
  }
  .body-container-mobile .body-container .players__content .player-info__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .body-container-mobile .body-container .players__content .player-info__header__name {
    font-size: 1.6rem;
  }
  .body-container-mobile .body-container .players__content .player-info__header__info {
    color: rgb(61, 61, 61);
  }
  .body-container-mobile .body-container .players__content .player-info__records {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
  }
  .body-container-mobile .body-container .players__content .player-info__records__list-view {
    flex: 1;
  }
  .body-container-mobile .body-container .players__content .player-info__add {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .body-container-mobile .body-container .players__content .player-info__add button {
    height: 55px;
    width: 55px;
    color: black;
    border-radius: 50%;
    border: none;
    background-color: rgb(69, 69, 207);
    color: white;
  }
  .body-container-mobile .body-container .players__content .player-info__add button svg {
    width: 30px;
    height: 30px;
  }
  .body-container-mobile .body-container .players__content .player-info__add button:active {
    background-color: rgb(117, 117, 201);
  }
  .body-container-mobile .body-container .players__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #002547;
  }
  .body-container-mobile .body-container .players__input-container .controls {
    width: 90%;
    display: flex;
    gap: 10px;
    max-width: 400px;
  }
  .body-container-mobile .body-container .players__input-container .controls input {
    flex-grow: 1;
    height: 35px;
    padding: 0 10px;
    border: transparent;
    border-radius: 5px;
  }
  .body-container-mobile .body-container .players__input-container .controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    max-width: 50px;
    background-color: white;
    border-radius: 5px;
    border: transparent;
  }
  .body-container-mobile .body-container .players__input-container .controls button svg {
    height: 20px;
    width: 20px;
  }
  .body-container-mobile .body-container .tables {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .body-container-mobile .body-container .admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .body-container-mobile .body-container .account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .body-container-mobile .mobile-nav {
    width: 100vw;
    height: 65px;
    background-color: #002547;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .body-container-mobile .mobile-nav button {
    border: none;
    background-color: transparent;
    color: white;
  }
  .body-container-mobile .mobile-nav button svg {
    height: 25px;
    width: 25px;
  }
  .body-container-mobile .mobile-nav button p {
    font-size: 12px;
  }
  .body-container-mobile .mobile-nav button:active {
    color: #D7A31A;
  }
}
@media (min-width: 768px) {
  .body-container-mobile {
    display: none;
  }
}/*# sourceMappingURL=mobile.css.map */