$breakpoint-tablet: 830px;
$primary-color: #112c44;
$cta-color: #4545cf;
$active-color: #D7A31A;


@media (max-width: $breakpoint-tablet) {

    .mobile-modal {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: flex-end;
        top: 0;
        background-color: rgba(0, 0, 0, 0.226);
        border: 1px solid rgba(255, 255, 255, 0.3);                
        width: 100%;
        height: 100%;
        padding-bottom: 45px;
    }

    .body-container-mobile {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;

        .body-container {
            flex: 1;

            .players {
                display: flex;
                flex-direction: column;
                height: 100%;
    
                &__content {
                    position: relative;
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    .add-note-container {
                        height: 400px;
                        width: 80%;
                        border-radius: 5px;
                        background-color: white;
                        padding: 15px;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        &__note-tendency-toggle {
                            display: flex;
                            button {
                                width: 50%;
                                padding: 5px;
                                background-color: white;
                                border: $primary-color 1px solid;
                                color: $primary-color;
                            }
                            
                            .selected {
                                background-color: $primary-color;
                                color: white;
                                border: $primary-color;
                            }

                            button:disabled {
                                opacity: 55%;
                            }

                            .first-button {
                                border-radius: 3px 0 0 3px;
                            }

                            .last-button {
                                border-radius: 0 3px 3px 0;
                            }
                        }


                        textarea {
                            flex: 1;
                            resize: none;
                            padding: 10px;
                            width: 100%;
                            outline: none;
                            border: rgba(0, 0, 0, 0) 1px solid;
                            border-radius: 6px;
                            background-color: rgb(231, 231, 231);
                        }

                        textarea:focus {
                            border: $primary-color 1px solid;
                            background-color: rgb(220, 220, 250);
                        }

                        &__buttons {
                            display: flex;
                            justify-content: space-between;

                            button {
                                padding: 6px 12px;
                                border: transparent;
                                border-radius: 3px;
                            }

                            &__delete {
                                background-color: rgb(238, 150, 150);
                                color: white;
                            }

                            &__add-update {
                                background-color: $primary-color;
                                color: white;
                            }
                        }
                    }
        
                    .loading-player {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        flex-direction: column;
        
                        img {
                            width: 75px;
                            height: 75px;
                        }
        
                        p {
                            font-size: .8rem;
                            color: rgb(13, 13, 80);
                        }
                    }

                    .player-info {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        .list-header {
                            font-weight: bold;
                        }

                        &__header {
                            padding: 20px;
                            display: flex;
                            justify-content: space-between;


                            &__name {
                                font-size: 1.6rem;
                            }

                            &__info {
                                color: rgb(61, 61, 61);
                            }
                        }

                        &__records {
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            flex: 1;

                            &__list-view {
                                flex: 1;
                                overflow: auto;
                            }
                        }

                        &__add {
                            position: absolute;
                            bottom: 20px;
                            right: 20px;
                            button {
                                height: 55px;
                                width: 55px;
                                color: black;
                                border-radius: 50%;
                                border: none;
                                background-color: $primary-color;
                                color: white;

                                svg {
                                    width: 30px;
                                    height: 30px;
                                }
                            }

                            button:active {
                                background-color: rgb(117, 117, 201);
                            }
                        }
                    }

                    .no-player-container {
                        padding: 20px;
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        justify-content: space-between;
                        .search-here {
                            align-self: center;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 12px;
                            justify-content: center;

                            svg {
                                height: 40px;
                                width: 40px;
                                color: $primary-color;
                            }
                        }
                    }
                }
    
                &__input-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60px;
                    background-color: $primary-color;
        
                    .controls {
                        width: 90%;
                        display: flex;
                        gap: 10px;
                        max-width: 400px;
        
                        input {
                            flex-grow: 1;
                            height: 35px;
                            padding: 0 10px;
                            border: transparent;
                            border-radius: 5px;
                        }
            
                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 15%;
                            max-width: 50px;
                            background-color: white;
                            border-radius: 5px;
                            border: transparent;
        
                            svg {
                                height: 20px;
                                width: 20px;
                            }
                        }

                        button:disabled {
                            opacity: 40%;
                        }
                    }
                    
        
                }
    
            }

            .tables {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
           
            .admin {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .account {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }

        .mobile-nav {
            width: 100vw;
            height: 65px;
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
        
            button {
                border: none;
                background-color: transparent;
                color: white;
        
                svg {
                    height: 25px;
                    width: 25px;
                }
        
                p {
                    font-size: 12px;
                }
            }
        
            button:active {
                color: $active-color;
            }
        }
    
    }
}

@media (min-width: $breakpoint-tablet) {
    .body-container-mobile{
        display: none;
    }
}