@media (max-width: 830px) {
  .mobile-modal {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    background-color: rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    padding-bottom: 45px;
  }
  .body-container-mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .body-container-mobile .body-container {
    flex: 1;
  }
  .body-container-mobile .body-container .players {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .body-container-mobile .body-container .players__content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .body-container-mobile .body-container .players__content .search-results-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    border-radius: 5px;
    background-color: white;
  }
  .body-container-mobile .body-container .players__content .search-results-container .search-result {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    padding: 0 10px;
  }
  .body-container-mobile .body-container .players__content .search-results-container .search-result__name {
    width: 100%;
    text-overflow: ellipsis;
    margin-right: 10px;
  }
  .body-container-mobile .body-container .players__content .search-results-container .search-result__icons {
    display: flex;
    gap: 10px;
  }
  .body-container-mobile .body-container .players__content .search-results-container .search-result__icons .search-icon {
    height: 25px;
    width: 25px;
  }
  .body-container-mobile .body-container .players__content .search-results-container .search-result__icons .search-icon svg {
    width: 100%;
    height: 100%;
  }
  .body-container-mobile .body-container .players__content .search-results-container .search-result__icons .exact-match {
    color: gold;
  }
  .body-container-mobile .body-container .players__content .search-results-container .search-result:active {
    background-color: rgb(221, 221, 221);
  }
  .body-container-mobile .body-container .players__content .search-results-container .add-player-button {
    display: flex;
    gap: 10px;
    padding: 15px;
    border: 0;
    background-color: #002547;
    color: white;
    border-radius: 5px;
  }
  .body-container-mobile .body-container .players__content .search-results-container .add-player-button svg {
    height: 15px;
    width: 15px;
  }
  .body-container-mobile .body-container .players__content .search-results-container .add-player-button:active {
    background-color: #D7A31A;
  }
  .body-container-mobile .body-container .players__content .add-note-container {
    height: 400px;
    width: 80%;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .body-container-mobile .body-container .players__content .add-note-container__note-tendency-toggle {
    display: flex;
  }
  .body-container-mobile .body-container .players__content .add-note-container__note-tendency-toggle button {
    width: 50%;
    padding: 5px;
    background-color: white;
    border: #002547 1px solid;
    color: #002547;
  }
  .body-container-mobile .body-container .players__content .add-note-container__note-tendency-toggle .selected {
    background-color: #002547;
    color: white;
    border: #002547;
  }
  .body-container-mobile .body-container .players__content .add-note-container__note-tendency-toggle button:disabled {
    opacity: 55%;
  }
  .body-container-mobile .body-container .players__content .add-note-container__note-tendency-toggle .first-button {
    border-radius: 3px 0 0 3px;
  }
  .body-container-mobile .body-container .players__content .add-note-container__note-tendency-toggle .last-button {
    border-radius: 0 3px 3px 0;
  }
  .body-container-mobile .body-container .players__content .add-note-container textarea {
    flex: 1;
    resize: none;
    padding: 10px;
    width: 100%;
    outline: none;
    border: rgba(0, 0, 0, 0) 1px solid;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
  }
  .body-container-mobile .body-container .players__content .add-note-container textarea:focus {
    border: #002547 1px solid;
    background-color: rgb(220, 220, 250);
  }
  .body-container-mobile .body-container .players__content .add-note-container__buttons {
    display: flex;
    justify-content: space-between;
  }
  .body-container-mobile .body-container .players__content .add-note-container__buttons button {
    padding: 6px 12px;
    border: transparent;
    border-radius: 3px;
  }
  .body-container-mobile .body-container .players__content .add-note-container__buttons__delete {
    background-color: rgb(238, 150, 150);
    color: white;
  }
  .body-container-mobile .body-container .players__content .add-note-container__buttons__add-update {
    background-color: #002547;
    color: white;
  }
  .body-container-mobile .body-container .players__content .loading-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  .body-container-mobile .body-container .players__content .loading-player img {
    width: 75px;
    height: 75px;
  }
  .body-container-mobile .body-container .players__content .loading-player p {
    font-size: 0.8rem;
    color: rgb(13, 13, 80);
  }
  .body-container-mobile .body-container .players__content .player-info {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .body-container-mobile .body-container .players__content .player-info .list-header {
    font-weight: bold;
  }
  .body-container-mobile .body-container .players__content .player-info__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .body-container-mobile .body-container .players__content .player-info__header__name {
    font-size: 1.6rem;
  }
  .body-container-mobile .body-container .players__content .player-info__header__info {
    color: rgb(61, 61, 61);
  }
  .body-container-mobile .body-container .players__content .player-info__records {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
  }
  .body-container-mobile .body-container .players__content .player-info__records__list-view {
    flex: 1;
    overflow: auto;
  }
  .body-container-mobile .body-container .players__content .player-info__add {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .body-container-mobile .body-container .players__content .player-info__add button {
    height: 55px;
    width: 55px;
    color: black;
    border-radius: 50%;
    border: none;
    background-color: #002547;
    color: white;
  }
  .body-container-mobile .body-container .players__content .player-info__add button svg {
    width: 30px;
    height: 30px;
  }
  .body-container-mobile .body-container .players__content .player-info__add button:active {
    background-color: rgb(117, 117, 201);
  }
  .body-container-mobile .body-container .players__content .no-player-container {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  .body-container-mobile .body-container .players__content .no-player-container .search-here {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
  }
  .body-container-mobile .body-container .players__content .no-player-container .search-here svg {
    height: 40px;
    width: 40px;
    color: #002547;
  }
  .body-container-mobile .body-container .players__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #002547;
  }
  .body-container-mobile .body-container .players__input-container .controls {
    width: 90%;
    display: flex;
    gap: 10px;
    max-width: 400px;
  }
  .body-container-mobile .body-container .players__input-container .controls input {
    flex-grow: 1;
    height: 35px;
    padding: 0 10px;
    border: transparent;
    border-radius: 5px;
  }
  .body-container-mobile .body-container .players__input-container .controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    max-width: 50px;
    background-color: white;
    border-radius: 5px;
    border: transparent;
  }
  .body-container-mobile .body-container .players__input-container .controls button svg {
    height: 20px;
    width: 20px;
  }
  .body-container-mobile .body-container .tables {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .body-container-mobile .body-container .admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .body-container-mobile .body-container .account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .body-container-mobile .mobile-nav {
    width: 100vw;
    height: 65px;
    background-color: #002547;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .body-container-mobile .mobile-nav button {
    border: none;
    background-color: transparent;
    color: white;
  }
  .body-container-mobile .mobile-nav button svg {
    height: 25px;
    width: 25px;
  }
  .body-container-mobile .mobile-nav button p {
    font-size: 12px;
  }
  .body-container-mobile .mobile-nav button:active {
    color: #D7A31A;
  }
}
@media (min-width: 830px) {
  .body-container-mobile {
    display: none;
  }
}/*# sourceMappingURL=mobile.css.map */